@charset "UTF-8";
#wrap{
    margin-left:200px;	
}
.float-left{
    float:left
}
.float-left>span{
    color:#00c5b1;
}
.float-right{
    float:right;
}
#wrap, #detail{
    text-align: center;
}
#wrap{
    width:1200px;
    justify-items:center;
    margin-left:220px;
    margin-top:20px;
}


/*본문*/
#tab>div{
	display: inline-block;
}
#btns{
	justify-content: left; 
}
#search-bar{
	float:right; 
}
.pagination{
	justify-content: center; 
}
#place-detail img{
	width:500px;
	height:auto;
}
#place-detail td{
	width:300px;
}
#center-btns{
	text-align: center;
}
#tags>ul{
	list-style: none;
}
#tags li{
	display:inline-block;
	padding:5px;
	margin:5px;
	background:gray;
	border-radius: 50px;
	color:white;
	font-size:14px;
}
#tags i{
	display: inline-block;
	border-radius: 50%;
	background:rgb(161, 161, 161);
	height:20px;
	width:20px;
}
#searchPlace, #selectResult{
	
	width: 50%;
	margin:0;
	padding:0;
	float:left;
}
#selectResult>img{
	width:500px;
	height:auto;
	background:gray;
	display:block;
}
#searchPlace>div, #btns-center{
	justify-content: center;
}
#description>textarea{
	resize:none;
}
#selectResult>input[name=title]{
	font-size:20px;
}