@charset "UTF-8";

div{
	padding:0;
	box-sizing: border-box;
	border:1px solid red;
}
body{
	width:1200px;
	margin:0;
	padding:0;
	position:relative;
}
#wrap{
	margin-top:100px;
	margin-left:200px;
	width:1000px;
	padding:0;
}

/*본문*/
#tab>div{
	display: inline-block;
}
#btns{
	justify-content: left; 
}
#search-bar{
	float:right; 
}
.pagination{
	justify-content: center; 
}
#place-detail *{
	text-align: center;
}
#place-detail img{
	width:500px;
	height:auto;
}
#place-detail td{
	width:300px;
}
#center-btns{
	text-align: center;
}
#tags>ul{
	list-style: none;
}
#tags li{
	display:inline-block;
	padding:5px;
	margin:5px;
	background:gray;
	border-radius: 50px;
	color:white;
	font-size:14px;
}
#tags i{
	display: inline-block;
	border-radius: 50%;
	background:rgb(161, 161, 161);
	height:20px;
	width:20px;
}
#searchPlace, #selectResult{
	
	width: 50%;
	margin:0;
	padding:0;
	float:left;
}
#selectResult>img{
	width:500px;
	height:auto;
	background:gray;
	display:block;
}
#searchPlace>div, #btns-center{
	justify-content: center;
}
#description>textarea{
	resize:none;
}
#selectResult>input[name=title]{
	font-size:20px;
}