<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
 	
 	<resultMap type="member" id="memberResultSet">
 		<result column="USER_NO" property="userNo"/>
 		<result column="USER_ID" property="userId"/>
 		<result column="USER_PWD" property="userPwd"/>
 		<result column="USER_NAME" property="userName"/>
 		<result column="BIRTH" property="birth"/>
 		<result column="GENDER" property="gender"/>
 		<result column="PHONE" property="phone"/>
 		<result column="EMAIL" property="email"/>
 		<result column="ENROLL_DATE" property="enrollDate"/>
 		<result column="MODIFY_DATE" property="modifyDate"/>
 		<result column="STATUS" property="status"/>
 		<result column="MO_NO" property="moNo"/>
 	</resultMap>
 
 	<!-- 로그인용 쿼리문 -->
 	<select id="loginMember" resultMap="memberResultSet" parameterType="member">
 		select 
 				USER_NO
 				,USER_ID
 				,USER_PWD
 				,USER_NAME
 				,BIRTH
 				,GENDER
 				,PHONE
 				,EMAIL
 				,ENROLL_DATE
 				,MODIFY_DATE
 				,STATUS
 				,MO_NO
 		from	
 				MEMBER
 		where	
 				USER_ID=#{userId}
 		and			
 				STATUS='Y'
 		
 	
 	</select>
 
 	<!-- 회원가입용 쿼리문 -->
 	
 	<insert id="insertMember" parameterType="member">
 	
 	INSERT INTO 
 				MEMBER
 						(
 						USER_NO		
 						,USER_ID
 						,USER_PWD
 						,USER_NAME
 						,BIRTH
 						,GENDER
 						,PHONE
 						,EMAIL
 						)
 					VALUES(
 							SEQ_MEM.NEXTVAL
 							,#{userId}
 							,#{userPwd}
 							,#{userName}
 							,#{birth}
 							,#{gender}
 							,#{phone}
 							,#{email}
 							)
 	</insert>
 
 	<select id="idCheck" resultType="_int">
 	
 		select count(*)
 		from	member
 		where	user_id = #{checkId}
 	
 	</select>
 	
 	<insert id="regist" parameterType="certVo">
 			INSERT INTO CERT(
 							who, secret, when
 			)VALUES(
 					#{who},#{secret},sysdate
 			)
 	
 	</insert>
 	
 	<select id = "validate" parameterType="certVo" resultType="certVo">
 	
 		SELECT * FROM CERT
 		WHERE 
 				who = #{who}
 				and secret = #{secret}
 				and when between sysdate - 3/24/60 and sysdate<!-- 이렇게 하면 3분안에 입력해야하는거임 외우셈 -->
 	
 	</select>
 	
 	<delete id="remove" parameterType="certVo">
	
	DELETE CERT WHERE who = #{who} and secret = #{secret}
	
	</delete>
	
	<select id="searchPwd" parameterType="member" resultType="_int">
	
	SELECT COUNT(*)
	FROM	MEMBER
	WHERE	USER_ID=#{userId}
	AND		EMAIL=#{email}
	
	</select>
	
	<update id="updatePwd" parameterType="hashMap">
	
	UPDATE  MEMBER
	SET		USER_PWD=#{encPwd}
	WHERE	USER_ID=#{m.userId}		
	AND		EMAIL=#{m.email}

	</update>
 
 	<select id="searchId" parameterType="member" resultType="string">
 	
 	SELECT	SUBSTR(USER_ID,1,length(USER_ID)-3)||LPAD('*',3,'*')
 	FROM	MEMBER
 	WHERE	USER_NAME=#{userName}
 	AND		EMAIL=#{email}
 	
 	
 	</select>	
 
</mapper>