<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
 	
 	<resultMap type="member" id="memberResultSet">
 		<result column="USER_NO" property="userNo"/>
 		<result column="USER_ID" property="userId"/>
 		<result column="USER_PWD" property="userPwd"/>
 		<result column="USER_NAME" property="userName"/>
 		<result column="BIRTH" property="birth"/>
 		<result column="GENDER" property="gender"/>
 		<result column="PHONE" property="phone"/>
 		<result column="EMAIL" property="email"/>
 		<result column="ENROLL_DATE" property="enrollDate"/>
 		<result column="MODIFY_DATE" property="modifyDate"/>
 		<result column="STATUS" property="status"/>
 		<result column="MO_NO" property="moNo"/>
 	</resultMap>
 
 	<!-- 로그인용 쿼리문 -->
 	<select id="loginMember" resultMap="memberResultSet" parameterType="member">
 		select 
 				USER_NO
 				,USER_ID
 				,USER_PWD
 				,USER_NAME
 				,BIRTH
 				,GENDER
 				,PHONE
 				,EMAIL
 				,ENROLL_DATE
 				,MODIFY_DATE
 				,STATUS
 				,MO_NO
 		from	
 				MEMBER
 		where	
 				USER_ID=#{userId}
 		and			
 				USER_PWD=#{userPwd}
 		and			
 				STATUS='Y'
 		
 	
 	</select>
 
 
 
</mapper>