<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="scheduleMapper">
  <insert id="insertSchedule" parameterType="addSchedule">
  
  	INSERT INTO SIMPLESCHEDULE
  	VALUES(
  		#{moNo},
  		#{scheduleTitle},
  		#{departureDate},
  		#{arrivalDate}
  	)
  </insert>
  <update id="updateScheduleMember" parameterType="hashmap">
 		update MEMBER
 		set MO_NO = #{moNo}
 		where USER_ID = #{addId}
  </update>
  <insert id="insertSendMassage" parameterType="hashmap">
  		INSERT INTO CHATINGLOG
  		values(
	  		#{mono},
	  		#{newmsg},
	  		sysdate
  		)
  </insert>
  
  <select id="selectReceiveMsg" parameterType="String" resultType="chatLog">
  
  		select mono,chatmsg,chattime
		from chatinglog
		where
		MONO = #{mono}
		order by chattime asc
  
  </select>
  
  <select id="selectMember" parameterType="String" resultType="String">
  
 		select user_name
        from member
        where 1= mod(instr(mo_no,#{mono}),5)
  
  
  </select>
  <select id="selectTime" parameterType="String" resultType="map">
  
  		select MO_DEPARTUREDATE,MO_ARRIVALDATE
  		from SIMPLESCHEDULE
  		where MO_NO = #{mono}
  
  </select>
  <select id="selectScheduleTitle" parameterType="String" resultType="SimpleSchedule">
  		
  		SELECT MO_NO,MO_TITLE,MO_DEPARTUREDATE,MO_ARRIVALDATE
        from SIMPLESCHEDULE
        where 1= mod(instr(mo_no,#{mono}),5)
  
  </select>
  <insert id="addDetailSchedule" parameterType="DetailSchedule">
  		
  		INSERT INTO DETAILSCHEDULE
  		VALUES(
  		#{mo_no},
  		#{activites},
  		#{postNum},
  		#{address},
  		#{detailAddress},
  		#{scheduleDate},
  		#{scheduleTitle},
  		#{introduction}
  		)
  		
  </insert>
  <insert id ="addAccount" parameterType="AccountBook">
  
  		INSERT INTO ACCOUNTBOOK
  		VALUES(
  		#{mono},
  		#{username},
  		#{scheduleTitle},
  		#{accountDate},
  		#{pay}
  		)
  
  </insert>
  <select id="selectAccount" parameterType="String" resultType="AccountBook">
  
  		SELECT MO_NO,USER_NAME,SCHEDULETITLE,ACCOUNTDATE,PAY
  		FROM ACCOUNTBOOK
  		WHERE MO_NO = #{mono}
  		ORDER BY ACCOUNTDATE
  
  </select>
  
 	 
 	 
 	 
 	 
 	 
 	 
 	 
 	 
 	 
 	 
  </mapper>