<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	 
	 	<!--유의사항: 미리 등록해두려면 해당 클래스가 진짜 존재하고 있는 상태여야함  -->
	<typeAliases>
		<typeAlias type="com.kh.firstclass.admin.place.model.vo.Place" alias="place" />
		<typeAlias type="com.kh.firstclass.user.member.model.vo.Member" alias="member"/>

		<typeAlias type="com.kh.firstclass.user.schedule.model.vo.AddSchedule" alias="addSchedule"/>
		<typeAlias type="com.kh.firstclass.user.schedule.model.vo.chatLog" alias="chatLog"/>

		<typeAlias type="com.kh.firstclass.common.mail.CertVo" alias="certVo"/>
		<typeAlias type="com.kh.firstclass.user.member.model.vo.Inquiry" alias="Inquiry"/>

		<typeAlias type="com.kh.firstclass.user.review.model.vo.Review" alias="review"/>
		<typeAlias type="com.kh.firstclass.user.review.model.vo.ReviewPicture" alias="reviewPicture"/>
		<typeAlias type="com.kh.firstclass.user.notice.model.vo.Notice" alias="notice"/>
		<typeAlias type="com.kh.firstclass.user.schedule.model.vo.SimpleSchedule" alias="SimpleSchedule"/>
		<typeAlias type="com.kh.firstclass.user.schedule.model.vo.DetailSchedule" alias="DetailSchedule"/>
		<typeAlias type="com.kh.firstclass.user.schedule.model.vo.AccountBook" alias="AccountBook"/>
		

	</typeAliases>

	<!-- 
		environment, dataSource에 기술했던 DB연결정보 -> 이번에는 root-context.xml
		=>DB등록정보는 서버연동과 동시에 이루워져아 되기 때문에 
	 	서버켜짐과 동시에 바로 읽혀지는 파일인 root-context.xml 문서에 기술할 예정
	 -->
	 
	 <mappers>
		<mapper resource="/mappers/place-mapper.xml" />
		<mapper resource="mappers/member-mapper.xml"/>

		<mapper resource="/mappers/schedule-mapper.xml" />


		<mapper resource="/mappers/review-mapper.xml"/>

		<mapper resource="/mappers/notice-mapper.xml" />
		
		<mapper resource="/mappers/mainpage-mapper.xml" />


	 </mappers>
</configuration>
